In [229]:
import pandas as pd
import seaborn as sy

In [445]:
#Loading Data
df=pd.read_csv("Bihar_Election_Results .csv")  
df.head(5)

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1

In [446]:
#Size of data

df.shape

(12301, 8)

In [447]:
# Checking Column by Null values

df.isnull().sum()

Election Year    0
Position         0
Name             0
Votes            0
Votes %          0
Party            0
AC name          0
AC No            0
dtype: int64

In [448]:
# Data Cloumn type checking

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
dtypes: int64(3), object(5)
memory usage: 768.9+ KB

In [449]:
# Checking How many times election held and also in which year. Well i'm not changing dtype object to date.
df['Election Year'].unique()

array(['2010', '2015', '2005-Oct', '2005-Feb'], dtype=object)

In [291]:
# Q.1(A).-a. Determine the winning party for every election at the state level. A party which has the highest total votes is considered the winner here.

In [480]:
# Election Result 2005-Feb

df2=df.loc[df['Election Year'] == "2005-Feb"]
x_2005_Feb=df2.groupby(['Party']).agg({'Votes': 'sum'}).reset_index()
print('For 2005-Feb Winning Part is')
x_2005_Feb[x_2005_Feb['Votes']==x_2005_Feb['Votes'].max()]

For 2005-Feb Winning Part is

                   Party    Votes
50  Rashtriya Janata Dal  6140223

In [451]:
# Election Result 2005-Oct

df3=df.loc[df['Election Year'] == "2005-Oct"]
x_2005_Oct=(df3.groupby(['Party']).agg({'Votes': 'sum'}).reset_index())
print('For 2005-Oct Winning Part is')
x_2005_Oct[x_2005_Oct['Votes']==x_2005_Oct['Votes'].max()]

For 2005-Oct Winning Part is

                   Party    Votes
45  Rashtriya Janata Dal  5525081

In [452]:
# Election Result 2010

df3=df.loc[df['Election Year'] == "2010"]
x_2010=(df3.groupby(['Party']).agg({'Votes': 'sum'}).reset_index())
print('For 2010 Winning Part is')
x_2010[x_2010['Votes']==x_2010['Votes'].max()]

For 2010 Winning Part is

                  Party    Votes
43  Janata Dal (United)  6561906

In [479]:
# Election Result 2015

df3=df.loc[df['Election Year'] == "2015"]
x_2015=df3.groupby(['Party']).agg({'Votes': 'sum'}).reset_index()
print('For 2015 Winning Part is')
x_2015[x_2015['Votes']==x_2015['Votes'].max()]

For 2015 Winning Part is

                    Party    Votes
29  Bharatiya Janta Party  9308015

In [433]:
#Q(c).Determine the top 8 parties at the state-level in each election in terms of getting the most votes.

In [457]:
print('Top 8 Party in 2005-Feb')
x_2005_Feb.nlargest(8, 'Votes')

Top 8 Party in 2005-Feb

                       Party    Votes
50      Rashtriya Janata Dal  6140223
20               Independent  3957945
27       Janata Dal (United)  3564930
37      Lok Jan Shakti Party  3091173
13     Bharatiya Janta Party  2686290
22  Indian National Congress  1223835
10       Bahujan Samaj Party  1080745
58           Samajwadi Party   658791

In [437]:
print('Top 8 Party in 2005-Oct')
x_2005_Oct.nlargest(8, 'Votes')

Top 8 Party in 2005-Oct

                       Party    Votes
45      Rashtriya Janata Dal  5525081
29       Janata Dal (United)  4819759
14     Bharatiya Janta Party  3686720
36      Lok Jan Shakti Party  2615901
21               Independent  2065744
23  Indian National Congress  1435449
10       Bahujan Samaj Party   981464
54           Samajwadi Party   594266

In [305]:
print('Top 8 Party in 2010')
x_2010.nlargest(8, 'Votes')

Top 8 Party in 2010

                         Party    Votes
43         Janata Dal (United)  6561906
69        Rashtriya Janata Dal  5475656
26       Bharatiya Janta Party  4790436
35                 Independent  3842812
37    Indian National Congress  2431477
53        Lok Jan Shakti Party  1957232
16         Bahujan Samaj Party   933947
61  Nationalist Congress Party   528575

In [308]:
print('Top 8 Party in 2015')
x_2015.nlargest(8, 'Votes')

Top 8 Party in 2015

                                Party    Votes
29              Bharatiya Janta Party  9308015
118              Rashtriya Janata Dal  6995509
68                Janata Dal (United)  6416414
59                        Independent  3580953
60           Indian National Congress  2539638
82               Lok Jan Shakti Party  1840834
123         Rashtriya Lok Samta Party   976787
57   Hindustani Awam Morcha (Secular)   864856

In [478]:
df3=df.loc[df['Election Year'] == "2005-Feb"]
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 9108 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  3193 non-null   object
 1   Position       3193 non-null   int64
 2   Name           3193 non-null   object
 3   Votes          3193 non-null   int64
 4   Votes %        3193 non-null   object
 5   Party          3193 non-null   object
 6   AC name        3193 non-null   object
 7   AC No          3193 non-null   int64
dtypes: int64(3), object(5)
memory usage: 224.5+ KB

In [ ]:
#Q.1(b)- determine the list of swing seats for the state. A swing seat is a constituencywhich has a different winner in every election. The elections are held in the order2005-Feb, 2005-Oct, 2010 and 2015

In [482]:
df.columns

Index(['Election Year', 'Position', 'Name', 'Votes', 'Votes %', 'Party',
       'AC name', 'AC No'],
      dtype='object')

In [508]:
m=df.groupby(['Election Year','AC name',]).agg({'Votes': 'max','Party': 'nunique'}).reset_index()
m

    Election Year        AC name  Votes  Party
0        2005-Feb    Agiaon (SC)  22389     10
1        2005-Feb      Alamnagar  37774      6
2        2005-Feb    Alauli (SC)  51152      5
3        2005-Feb       Alinagar  41299      7
4        2005-Feb        Amarpur  27948      8
..            ...            ...    ...    ...
961          2015  Valmiki Nagar  66860      9
962          2015     Warisnagar  92687     14
963          2015    Warsaliganj  85912      6
964          2015      Wazirganj  80107     12
965          2015        Ziradei  40760     10

[966 rows x 4 columns]